@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111827;
}

body {
  background: #ffffff;
  color: #111827;
  font-family: Arial, Helvetica, sans-serif;
}
